<div style="background-image: url('home1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            position: relative;">
    
    <div class="slide-up" style="position: absolute;
                top: 20%;
                transform: translate(-60%, -50%);
                padding: 30px;
                border-radius: 10px;
                text-align:left;
                height: 50%;
                width: 50%;
                color: rgb(255, 255, 255);" >
        <h4 style="font-family: 'Times New Roman', Times, serif;">Peek. Explore. Master!</h4>
        <h1 style="font-family: cursive; font-weight: 600; font-size:2.5rem;">Your Gateway to Smarter Learning</h1><br>
        <p style="font-size: 1.3rem; font-family: 'Times New Roman', Times, serif;">
            Explore a world of knowledge through interactive online courses designed to help you master new skills. Whether you're a student, a professional, or just someone eager to learn, we have something for everyone!
        </p><br>
        <a href="login" class="cta-button">Learn More <span class="arrow">→</span></a>
    </div>
</div>

<div class="course-container">
    <h2>Learn. Lead. Transform.</h2>
    <p>Explore courses by job function</p>
    <div class="course-grid">
        <div *ngFor="let course of courses" class="course">
          <img [src]="course.imageUrl" [alt]="course.courseTitle" />
          <h3 class="course-title">{{ course.courseTitle }}</h3>
        </div>
      </div>      
    
</div>
<div class="container-fluid animated-banner">
    <h4>Learn and Get Certified ! <span style="padding-left: 3rem;"> Rated Excellence ! </span>  <span style="padding-left: 3rem;"> Flexible Learning !  </span></h4>
</div>
<div class="why-us">
    <h1>Why <span style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Peek Learn !</span></h1>
</div>

<div class="benefits-container">
    <div class="benefit">
        <div class="icon">
            <i class="fas fa-globe"></i>
        </div>
        <h2>Transforming Education</h2>
        <p>Peek Learn is your gateway to career growth through engaging, expert-led courses.Peek Learn empowers you with real-world knowledge through engaging video tutorials, hands-on projects, and live mentorship.</p>
    </div>

    <div class="benefit">
        <div class="icon">
            <i class="fas fa-lightbulb"></i>
        </div>
        <h2>Handcrafted Learning Experiences</h2>
        <p>Peek Learn offers personalized courses designed to match your pace and learning style. With interactive lessons, expert guidance, and hands-on projects, we ensure you master skills through practical application.</p>
    </div>

    <div class="benefit">
        <div class="icon">
            <i class="fas fa-users"></i>
        </div>
        <h2>Learners Love Us</h2>
        <p>Peek Learn offers personalized courses designed to match your pace and learning style. With interactive lessons, expert guidance, and hands-on projects, we ensure you master skills through practical application.</p>
    </div>
</div>

<div class="background-container">
    <div class="content">
        <p>Get Started Today!</p>
        <h1>Prove Your Potential</h1>
        <p>A Faster Way For You To Grow And Upskill. Peek Learn is your gateway to career growth through engaging, expert-led courses.</p>
        <a href="login" class="cta-button">Start For Free<span class="arrow">→</span></a>
    </div>
</div>

<app-footer></app-footer>