<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form </title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="wrapper ">
      <h2>Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="authLogin(loginForm)">
        <div class="input-field">
        <input type="text" required ngModel name="username" >
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="password" required ngModel name="password">
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="registration">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html> 
